.work-container {
    @include Flex();
    margin: 0 auto;
    font-family: 'Raleway', sans-serif;
    .work-subcontainer {
        width: 1510px;
        height: 678px;
        display: grid;
        grid-template-columns: repeat(4, 378px);
        grid-template-rows: repeat(2, 340px);
    }

    figure {
        height: 340px;
        position: $relative;
        display: $block;
        border: 1px solid #fff;
    }

    figure:hover figcaption {
        opacity: 1;
        top: 0;
    }

    figure:active figcaption {
        opacity: 1;
        top: 0;
        background-color: rgba(185, 12, 12, 0.8);
    }

    figcaption {
        @include Flex();
        height: 340px;
        width: 379px;
        top: 0;
        opacity: 0;
        position: absolute;
        background: rgba(255, 67, 67, 0.8);
        flex-direction: column;
    }

    h3 {
        width: 380px;
        height: 60px;
        font-weight: 900;
        color: $white;
        font-size: 24px;
        position: $relative;
        text-align: $center;
        text-transform: $uppercase;
    }

    p {
        width: 380px;
        text-align: $center;
        height: 21px;
        font-weight: 400;
        color: $white;
        font-size: 18px;
        position: $relative;
    }
}




@media screen and (max-width: 1024px) and (min-width: 768px) {


    .work-container {
        display: $block;
        .work-subcontainer {
            width: 1024px;
            height: 459.78px;
            display: grid;
            grid-template-columns: repeat(4, 257px);
            grid-template-rows: repeat(2, 230.57px);
        }

        figure {
            height: 230.57px;
            width: 257px;
        }

        img {
            height: 230.57px;
            width: 256.34;
        }

        figcaption {
            height: 230.57px;
            width: 257px;
        }

        h3 {
            width: 257.7px;
            height: 40.69px;
            font-size: 18px;
        }

        p {
            width: 257.7px;
            height: 16px;
            font-size: 14px;
        }
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .work-container {
        .work-subcontainer {
            width: 320px;
            height: 576px;
            display: grid;
            grid-template-columns: repeat(2, 160px);
            grid-template-rows: repeat(4, 144px);
        }

        figure {
            height: 144px;
        }

        img[alt="work"] {
            height: 144px;
            width: 160px;
        }

        figcaption {
            height: 144px;
            width: 160px;
        }

        h3 {
            width: 160px;
            height: 25.41px;
            font-size: 18px;
        }

        p {
            width: 160px;
            height: 16px;
            font-size: 14px;
        }
    }
}