@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Raleway&display=swap');
* {
    font-family: Raleway, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.awesome-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 58px;
}
.awesome-subcontainer {
    width: 1170px;
    box-sizing: content-box;
}
.awesome-container__articles {
    width: 1170px;
    height: 383px;
    display: flex;
    justify-content: space-between;
}
.awesome-container__articles article  {
    width: 370px;
    height: 383px;
}
.awesome-subcontainer .separator {
    border: 0.5px solid #EC7979;
    width: 170px;
    margin: 0 auto;
}
.awesome-subcontainer h2 {
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 150px;
    width: 1170px;
}
.awesome-subcontainer .text {
    height: 21px;
    color: #86878B;
    font-size: 18px;
    text-align: center;
    font-weight: 400;
    margin-top: 40px;
    margin-bottom: 71px;
}
article .title {
    height: 100px;
    width: 369px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    margin-bottom: 8px;
    line-height: 100px;
}
article .text {
    height: 105px;
    width: 370px;
    font-size: 18px;
    text-align: center;
    font-weight: 400;
    margin: 0 auto; 
}
img {
    display: block;
    margin: 0 auto;
}