footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 164px;
    margin: 0 auto;
    background: #000000;
   
}

.contact-icons {
    width: 582.4px;
    height: 53.2px;
    display: flex;
    justify-content: space-between;
    margin: 35px auto 27.8px;
}



footer h5 {
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 27px;
}