@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Raleway&display=swap');

.tabs-container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tabs-subcontainer {
    width: 1170px;
    box-sizing: border-box;
}

.tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 40px;
}

.tabs__tab1 {
    width: 203px;
    height: 40px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    border: 1px solid #C6CBCD;
    border-bottom: none;
    border-left: none;
    border-left: 1px solid #C6CBCD;
    border-radius: 5px 5px 0px 0px;
}

.tabs__tab2,
.tabs__tab3 {
    width: 184px;
    height: 40px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    border-bottom: 1px solid #C6CBCD;
}

.tabs__tab4 {
    width: 600px;
    height: 40px;
    border-bottom: 1px solid #C6CBCD;
}

.tabs-subcontainer article {
    display: flex;
    justify-content: space-between;
    border: 1px solid #C6CBCD;
    border-top: none;
}


.tabs-presentation-left h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    line-height: 124px;
    font-size: 30px;
    margin-left: 100px;
    width: 570px;
    margin-bottom: 27px;
}
.tabs-presentation-left h5 {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 18px;
    width: 570px;
    height: 210px;
    margin-left: 100px;
    margin-bottom: 27px;
}

.tabs-presentation-left button {
    width: 270px;
    height: 58px;
    color: #fff;
    background: #EC7979;
    font-size: 18px;
    font-family: 'Open Sans';
    font-weight: 600;
    margin-left: 100px;
    border: none;
    
}